body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: medium;
    color: rgb(255, 251, 0);
    align-items: center;
    text-align: center;
    background:rgb(2, 9, 22);
}

#home {
    font-size: xx-large;
    color: aqua;
    text-shadow: 2px 3px 1px rgba(230, 22, 202);
}

/*--------------------------------------
    GALLERY SECTION
------------------------------------*/


.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 8px;
    margin: 5px;
    background-color: rgba (100, 65, 0, .3);
    box-shadow: 2px 2px 10px 0 rgba(255, 238, 1, 0.3);
}

/*--------------------------------------
    CONTACT FORM
------------------------------------*/

form input {
    width: 150px;
    margin-right: 1px;
    border: 1px;
    border-radius: 10%;
    color: aqua;
    background-color: rgba(87, 87, 87, 0.712);
}
